body{
    background-color: #111111;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
    scrollbar-width: thin;
    font: 140% 'Bad Script', cursive; /* 'Courgette', cursive;*/
    scrollbar-color: #a5b2b5 transparent;
}

.main-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.left-menu{
    display: block;
}
.room{
    position: relative;
    background: #222222;
}

input{
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  width: 6%;
  padding-top: 39%;
  margin-top: 23%;
  z-index: 2;
}
.button-c{
  margin-left:29.7%;
}
.button-d{
  margin-left:36%;
}
.button-e{
  margin-left:42.3%;
}
.button-f{
  margin-left:48.8%;
}
.button-g{
  margin-left:55%;g
}
.button-a{
  margin-left:61%;
}
.button-b{
  margin-left:68%;
}
input:active{
   opacity: 0.5;
}
.button-c:active{
   background-color: red;
}
.button-d:active{
   background-color: orange;
}
.button-e:active{
   background-color: yellow;
}
.button-f:active{
   background-color: green;
}
.button-g:active{
   background-color: blue;
}
.button-a:active{
   background-color: pink;
}
.button-b:active{
   background-color: white;
}

.frame{
    position: absolute;
    width: 100%;
    z-index: 0;
}   


.main-img {
    margin: 4% 0% 5% 0%;
    position: absolute;
    width: 95%;
    height: auto;
    z-index: -1;
}

.main-paper{
    position: absolute;
    width:40%;
    height:auto;
    z-index: 0;
}

.letter{
    background: #cecece;
    margin: 7% 5% 5% 5%;
    position: absolute;
    width: 46%;
    margin-left: 27%;
    height:auto;
    z-index: -2;
}

 

.wood{
    position: absolute;
    max-width:100%;
    height:auto;
    z-index: -2;
}

a{
    background: transparent;
    font-size:0;
    position: absolute;
    z-index: 2;
}

.table-letter{
    margin-top: 60%;
    margin-left: 60%;
    width: 24%;
    height: 110px;
    z-index: 0;
    cursor: url("https://img.icons8.com/ios/40/ffffff/search--v1.png"), auto;
}    

.ticket{
    margin-top: 60%;
    margin-left: 30%;
    width: 16%;
    height: 110px;
    cursor: url("https://img.icons8.com/ios/40/ffffff/search--v1.png"), auto;
}

.left-box-shape{
    margin-top: 40%;
    margin-left: 0%;
    width: 24%;
    height: 110px;
    cursor: url("https://img.icons8.com/material/50/ffffff/long-arrow-left--v1.png"), auto;
}

.right-shape{
    margin-top: 40%;
    margin-left: 70%;
    width: 25%;
    height: 200px;
    cursor: url("https://img.icons8.com/material/50/ffffff/long-arrow-right--v1.png"), auto;
}

.right-search-shape{
    margin-top: 60%;
    margin-left: 75%;
    width: 25%;
    height: 300px;
    cursor: url("https://img.icons8.com/ios/40/ffffff/search--v1.png"), auto;
}

.left-search-shape{
    margin-top: 70%;
    margin-left: 5%;
    width: 25%;
    height: 300px;
    cursor: url("https://img.icons8.com/ios/40/ffffff/search--v1.png"), auto;
}

.box-shape{
    margin-top: 30%;
    margin-left: 65%;
    width: 30%;
    height: 200px;
    cursor: url("https://img.icons8.com/ios/40/ffffff/search--v1.png"), auto;
}

.box {
    display: none;
}

.down-arrow{
    margin-top: 60%;
    margin-left: 35%;
    width: 40%;
    height: 300px;
    cursor: url("https://img.icons8.com/material-outlined/40/ffffff/down.png"), auto;
}    

.bed-room-shape{
    margin-top: 60%;
    margin-left: 70%;
    width: 65%;
    height: 200px;
    cursor: url("https://img.icons8.com/material/50/ffffff/long-arrow-right--v1.png"), auto;
}

.piano-shape{
    margin-top: 40%;
    margin-left: 35%;
    width: 10%;
    height: 30px;
    cursor: url("https://img.icons8.com/material-outlined/40/ffffff/up.png"), auto;
}

.piano1-shape{
   margin-top: 60%;
   margin-left: 20%;
   width: 40%;
   height: 150px;
   cursor: url("https://img.icons8.com/material-outlined/40/ffffff/up.png"), auto;
}

.door-shape{
   margin-top: 40%;
   margin-left: 30%;
   width: 70%;
   height: 200px;
   cursor: url("https://img.icons8.com/material-outlined/40/ffffff/up.png"), auto;
}

.search-shape{
   margin-top: 50%;
   margin-left: 40%;
   width: 30%;
   height: 150px;
   cursor: url("https://img.icons8.com/ios/40/ffffff/search--v1.png"), auto;
}

.back-shape{
   margin-top: 70%;
   width: 80%;
   height: 100px;
   cursor: url("https://img.icons8.com/ios-filled/35/ffffff/down-left-arrow.png"), auto;
}

.recipe1{
   position: absolute;
   margin-top: 10%;
   margin-left: 38%;
   border-color: transparent;
   width: 10%;
   z-index: 4;
}

.simple-menu{
    margin: 5% 5% 5% 28%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: black;
    z-index: 4;
}    

.notes:hover{
    color: grey;
}

.logout:hover{
    color: grey;
}    



/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5b2b5;
}


.menu-input{
  position: absolute;
  padding: 1%;
  margin-top: 12%;
  margin-left: 22%;
  display: inline-block;
  color: white;
  outline: none;
  background-color: #5c9090;
  width: 30%;
  height: 27px;
}

.btn-input{
  cursor: pointer;
  position: absolute;
  padding: 1%;
  margin-top: 12%;
  margin-left: 54%;
  display: inline-block;
  color: white;
  outline: none;
  background-color:  #a5b2b5;
  width: 10%;
  height: 19%;
}

.btn-input:hover{
  background-color: #5c9090;
}

.buttons{
    margin: 15% 20% 20% 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}    

.history{
 
}

.button {
    background-color: #5c9090;
    margin-right: 20%;
    border: none;
    color: white;
    cursor: pointer;
    padding: 6% 12%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.letter-text span{
    color: #635f60;
    position: absolute;
    margin-top: 8%;
    margin-left: 32%;
    z-index: 5;
    width: 38%;
    text-align: justify;
}

.question{
    color: #2B3920;
    margin-top: 10%;
    text-align: end; 
}

.question-start{
    text-align: center;
    color: white;
    margin-top: 20%;
}    

.question li{
    color: #2B3920;
    cursor: pointer;
    list-style-type: none;
}

.question li:hover{
    color: #7B847A;
}   

.text-bar{
  color:  #6B6E50;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  margin: 14% 2% 2% 7%;
  width: 25%;
  overflow: auto;
  text-align: justify;
}

