<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>
<body>
  <div class="main-container">
    <div class="left-bar">
      {% load static %}
      <img class="main-paper" src="{% static 'images/old-paper.jpg' %}">
      <a class = "notes" href="{% url 'notes' %}"><img class="notes" src="{% static 'images/notes/letter.png' %}"></a>
      <a class = "logout" href="{% url 'notes' %}"><img class="logout" src="{% static 'images/notes/logout.png' %}"></a>
      <div class = "notes-main">
	<p id="response_msg"></p> 
	<!-- <ol class="bottom-menu"> -->
	  <!-- <input type="text" class="menu-input" placeholder="Enter answer"/> -->
	  <!-- <input type="button" class="btn-input" value='check' onclick="check_it()"/> -->
	<div id = "new-html"></div>
	<!-- </ol> -->
      </div>
    </div>
    <div class="room">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% load static %}
  <!-- <script>console.log({{notes|safe}});</script> -->
  <script src="{% static 'js/history.js' %}">
  </script>
</body>
</html>


<!--  <ol class="messages" id="history"> -->

<!--       </ol> -->
<!--       <ol class="bottom-menu"> -->
<!--         <li class="menu-choice"><span>Heyy</span></li> -->
<!--          <li class="menu-choice"><span>Answer for user</span></li> -->
<!--          <li class="menu-choice"><span>Answejhihoih test user</span></li> -->
<!-- <\!--         <input type="text" class="menu-input" placeholder="Enter answer"/>-\-> -->
<!--       </ol> -->

    
