<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Bad+Script&family=Inconsolata:wght@700&display=swap');
  </style>
</head>
<body>
  <div class="main-container">
    <div class="left-bar">
      {% load static %}
      <img class="main-paper" src="{% static 'images/notes/old-paper.png' %}">
      <div class="simple-menu">
	<span class = "notes" onclick="notes()">Записник</span>
	<span class = "logout" onclick="logout()">Вихід</span>
      </div>
      <div class = "notes-main">
	<div id = "new-html"></div>
      </div>
    </div>
    <div class="room">
      <img class="frame" src="{% static 'images/notes/frame.png' %}">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% load static %}
  <!-- <script>console.log({{notes|safe}});</script> -->
  <script src="{% static 'js/history.js' %}">
  </script>
</body>
</html>


<!--  <ol class="messages" id="history"> -->

<!--       </ol> -->
<!--       <ol class="bottom-menu"> -->
<!--         <li class="menu-choice"><span>Heyy</span></li> -->
<!--          <li class="menu-choice"><span>Answer for user</span></li> -->
<!--          <li class="menu-choice"><span>Answejhihoih test user</span></li> -->
<!-- <\!--         <input type="text" class="menu-input" placeholder="Enter answer"/>-\-> -->
<!--       </ol> -->

    
