{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<img class="letter" src="{% static 'images/notes/letter.jpg' %}">
<div class="letter-text">
  <span>Дорога julia, ми не бачились з тобою багато років. Можливо ти мене вже й не пам'ятаєш. Ти багато часу провела в цьому будинку, коли була маленькою. Нажаль за складних життєвих обставин твоїй сім'ї довелось переїхати. Зв'язок між нами втратився, адже сталось ще дещо про, що ти не знаєш. Дуже хочу відновити твої теплі, дитячі спогади та відкрити кілька важливих сімейних таємниць. В будинку залишив підказки, котрі допоможуть тобі у всьому розібратись.
 <p>    З любов'ю, твій дядько Джо.</p></span>
</div>
{% if 1 in mapped_to %}
<a class = "back-shape" href="{% url "load_view" id_url=1 %}">Piano</a>
{% endif %}
{% endblock %}
